@font-face {
  font-family: 'onlineKDicon';
  src:  url('../fonts/onlineKDicon.eot?lq303b');
  src:  url('../fonts/onlineKDicon.eot?lq303b#iefix') format('embedded-opentype'),
    url('../fonts/onlineKDicon.ttf?lq303b') format('truetype'),
    url('../fonts/onlineKDicon.woff?lq303b') format('woff'),
    url('../fonts/onlineKDicon.svg?lq303b#onlineKDicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic_"], [class*=" ic_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'onlineKDicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_check:before {
  content: "\e920";
}
.ic_dbarrowleft:before {
  content: "\e91d";
}
.ic_dbarrowright:before {
  content: "\e91e";
}
.ic_check_small:before {
  content: "\e907";
}
.ic_close_small:before {
  content: "\e908";
}
.ic_add:before {
  content: "\e909";
}
.ic_kdb:before {
  content: "\e90a";
}
.ic_kdb2:before {
  content: "\e90b";
}
.ic_setting:before {
  content: "\e90c";
}
.ic_smback:before {
  content: "\e90d";
}
.ic_voice:before {
  content: "\e90e";
}
.ic_warning:before {
  content: "\e90f";
}
.ic_rightarrow:before {
  content: "\e91f";
}
.ic_downarrow:before {
  content: "\e901";
}
.ic_link:before {
  content: "\e910";
}
.ic_img:before {
  content: "\e911";
}
.ic_qq:before {
  content: "\e912";
}
.ic_weibo:before {
  content: "\e913";
}
.ic_weixin:before {
  content: "\e914";
}
.ic_bannerctr_prv:before {
  content: "\e906";
}
.ic_bannerctr_nxt:before {
  content: "\e905";
}
.ic_menu:before {
  content: "\e902";
}
.ic_close:before {
  content: "\e900";
}
.ic_search:before {
  content: "\e903";
}
.ic_share:before {
  content: "\e904";
}
.ic_book:before {
  content: "\e915";
}
.ic_eyes:before {
  content: "\e916";
}
.ic_home:before {
  content: "\e917";
}
.ic_kdme:before {
  content: "\e918";
}
.ic_link2:before {
  content: "\e919";
}
.ic_myfollow:before {
  content: "\e91a";
}
.ic_password:before {
  content: "\e91b";
}
.ic_service:before {
  content: "\e91c";
}

