node_modules/
live-mobile-v2.1.zip
live-pc-v2.1.zip
vod-mobile-demo.zip

/electron/out/HelloWorld-win32-x64/*.exe
/desktopApplication/dist_electron/win-unpacked/*.exe
/desktopApplication/dist_electron/win-unpacked/*.exe
/desktopApplication/dist_electron/win-unpacked/*.pak
/desktopApplication/dist_electron/win-unpacked/*.dll
/desktopApplication/dist_electron/win-unpacked/*.bin
/desktopApplication/dist_electron/win-unpacked/*.pak
/desktopApplication/dist_electron/*.yaml
*.exe
*.pak
*.yml
*.asar
*.blockmap
