<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../file/vue.js"></script>
</head>
<style>
* {
    margin: 0;
    padding: 0;
}

#all {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ccc;
}

#name {
    width: 120px;
    height: 30px;
}

select {
    width: 120px;
    height: 30px;
}

input {
    width: 120px;
    height: 30px;
}

.li {
    border: 1px solid red;
}

.sonLi {
    border: 1px solid green;
}
</style>

<body>
    <div id="all">
        <!--<template v-for="item in listData">-->
        <!--<say v-bind:name="item.name" v-on:click="add"></say>-->
        <!--</template>-->
        <!--<parent :data="listData" @tab="tab">-->
        <!--<template slot="item" scope="props">-->
        <!--<son :data="props.data"></son>-->
        <!--</template>-->
        <!--</parent>-->
        <sum :data="listData"></sum>
    </div>
    <script type="text/x-template" id="sum">
        <parent :data="data">
            <template slot="item" scope="props">
                <son :data="props.data" :index="props.index" @tab="props.tab"></son>
            </template>
        </parent>
    </script>
    <script type="text/x-template" id="parent">
        <ul>
            <li class="li" v-for="(item,index) in selfData">
                <slot name="item" :data="item" :index="index" :tab="tab">
                </slot>
            </li>
        </ul>
    </script>
    <script type="text/x-template" id="son">
        <div>
            <div class="parent">
                <span>{{data.name}}</span>
                <span>
                    <i v-show="!data.isOpen" @click="open(index)">open</i>
                    <i v-show="data.isOpen" @click="close(index)"   >close</i>
                </span>
            </div>
            <ul v-show="data.isOpen">
                <li class="sonLi" v-for="item in data.childs">
                    <span>{{item.name}}</span>
                </li>
            </ul>
        </div>
    </script>
    <script>
    Vue.component('sum', {
        template: '#sum',
        props: ['data'],
        methods: {
            tab: function() {},
        }
    });

    Vue.component('parent', {
        props: ['data'],
        template: '#parent',
        computed: {
            selfData: function() {
                var listData = this.data;
                return listData;
            }
        },
        methods: {
            tab: function(index) {
                this.setTab(index);
            },
            open: function(index) {
                console.log(this);
                this.setTab(index);
            },
            close: function(index) {
                this.setTab(index);
            },
            setTab: function(index) {
                this.selfData[index]['isOpen'] = !this.selfData[index]['isOpen'];
            }
        }
    });

    Vue.component('son', {
        props: ['data', 'index'],
        template: '#son',

        methods: {
            open: function(index) {

                this.$emit('tab', index);
            },
            close: function(index) {
                this.$emit('tab', index);
            },
            setTab: function(index) {
                this.selfData[index]['isOpen'] = !this.selfData[index]['isOpen'];
            }
        }
    });

    var vm = new Vue({
        el: '#all',
        data: {
            listData: [{
                    name: 'p1',
                    age: 18,
                    childs: [{
                            name: 'son1',
                            age: 10
                        },
                        {
                            name: 'son12',
                            age: 10
                        }
                    ],
                    isOpen: false
                },
                {
                    name: 'p2',
                    age: 13,
                    childs: [{
                        name: 'son2',
                        age: 10
                    }],
                    isOpen: false
                }
            ],
            list: [
                1, 2
            ]

        },

    });

    console.log(vm);
    </script>
</body>

</html>