<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../file/vue.js"></script>
</head>
<style>
    *{
        margin:0; padding:0;
    }
    #all{
        width:1000px; height:1000px; margin:0 auto; overflow: hidden;
        background-color: #ccc;
    }

    #name{
        width:120px;
        height:30px;
    }

    .a{
        color : red;
    }

    .b{
        font-weight: bold;
    }

    .c{
        border:1px solid green;
    }
</style>
<body>
<div id="all">
   <div>绑定class</div>
    <div>使用指令： v-bind:class </div>
    <div>class的值可以是:(1)一个对象字符串（推荐） (2)可以是一个对象变量（推荐） (3)可以是数组字符串(里面是变量) （4）可以是三目运算符(太鸡肋)</div>
    <div v-bind:class="{'a':a,'b':b,'c':c}">使用一个对象字符串 </div>
    <div>
       a <input type="checkbox" v-model="a"/>
    </div>
    <div>
        b <input type="checkbox" v-model="b"/>
    </div>
    <div>
        c <input type="checkbox" v-model="c"/>
    </div>
    <div>
        <div v-bind:class="classObj">使用一个对象变量</div>
    </div>
    <div>
        a <input type="checkbox" v-model="classObj.a"/>
    </div>
    <div>
        b <input type="checkbox" v-model="classObj.b"/>
    </div>
    <div>
        c <input type="checkbox" v-model="classObj.c"/>
    </div>
    <div>
        <div v-bind:class="[classA,classB]">数组字符串</div>
    </div>
</div>

<script>

      var vm = new Vue({
          el : '#all',
          data : {
              a : true,
              b : true,
              c : true,
              classA : 'a',
              classB : 'b',
              classObj : {
                  a : true,
                  b : false,
                  c : true
              }
          }
      });

</script>
</body>
</html>