<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../file/vue.js"></script>
    <script src="../file/vuex.js"></script>
</head>
<style>
* {
    margin: 0;
    padding: 0;
}

#all {
    width: 1000px;
    height: 1000px;
    background-color: #ccc;
    margin: 0 auto;
    overflow: hidden;
}
</style>

<body>
    <div id="all">
        <div>
            all
            <input type="checkbox" v-model="all" @change="change(all)" />
        </div>
        <div>
            <template v-for="item in listData">
                <div>
                    {{name}}
                    <input type="checkbox" v-model="item.isChecked" />
                </div>
            </template>
        </div>
    </div>
    <script>
    var store = new Vuex.Store({
        state: {
            listData: [{
                    name: 1,
                    isChecked: false
                },
                {
                    name: 2,
                    isChecked: false
                },
                {
                    name: 3,
                    isChecked: false
                }
            ]
        },
        mutations: {
            checked: function(state, val) {
                state.listData.forEach(function(item, index) {
                    item.isChecked = val;
                });
            }
        }
    });

    var vm = new Vue({
        el: '#all',
        store: store,

        data: {
            all: false,
            other: false
        },
        watch: {
            isAll: function(newVal, oldVal) {

                this.all = newVal;


            }
        },
        methods: {
            change: function(val) {
                // 触发状态方法checked
                this.$store.commit('checked', val);
            }
        },
        computed: {
            listData: function() {
                return this.$store.state.listData;
            },

            isAll: function() {
                var ret = true;

                if (this.$store.state.listData.length == 0) {
                    return false;
                }

                this.$store.state.listData.forEach(function(item, index) {
                    if (item.isChecked == false) {
                        ret = false;
                    }
                });

                return ret;
            }
        }
    });
    </script>
</body>

</html>