<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../file/vue.js"></script>
</head>
<style>
    *{
        margin:0; padding:0;
    }
    #all{
        width:1000px; height:1000px; margin:0 auto; overflow: hidden;
        background-color: #ccc;
    }

    #name{
        width:120px;
        height:30px;
    }
</style>
<body>
<div id="all">
     <div v-on:click="tab">tab</div>
     <div v-if="showEl">this is tab content</div>
    <div>
        <template v-if="showEl">
            aaaaaaaa
        </template>
        <template v-else>
            bbbbbbbbb
        </template>
    </div>
</div>

<script>
   var vm = new Vue({
       el : '#all',
       data : {
           showEl : true
       },
       methods : {
           tab : function(){
             this.showEl = !this.showEl;
           }
       }
   });
</script>
</body>
</html>