<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../file/vue.js"></script>
</head>
<style>
    *{
        margin:0; padding:0;
    }
    #all{
        width:1000px; height:1000px; margin:0 auto; overflow: hidden;
        background-color: #ccc;
    }

    #name{
        width:120px;
        height:30px;
    }
</style>
<body>
<div id="all">
    <div>
        <span>
            <label for="java">java</label>
        </span>
        <span>
            <input type="checkbox" name="name" id="java" value="java" v-model="list" />
        </span>
    </div>
    <div>
        <span>
            <label for="php">php</label>
        </span>
        <span>
            <input type="checkbox" name="name" id="php" value="php" v-model="list" />
        </span>
    </div>
    <div>
        <span>list</span>
        <span>{{list}}</span>
    </div>

</div>

<script>
   var vm = new Vue({
       el : '#all',
       data : {
           list : []
       }
   });
</script>
</body>
</html>