<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../file/vue.js"></script>
</head>
<style>
    *{
        margin:0; padding:0;
    }
    #all{
        width:1000px; height:1000px; margin:0 auto; overflow: hidden;
        background-color: #ccc;
    }

    #name{
        width:120px;
        height:30px;
    }
    select{
        width:120px;
        height:30px;
    }
</style>
<body>
<div id="all">
    <select name="" id="s" v-model="selected">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <div>
        单选select: {{selected}}
    </div>

    <select name="other" id="other" v-model="other" multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <div>
        复选select: {{other}}
    </div>
    <select name="other" id="list" v-model="listVal" >
        <option v-for="item in list" v-bind:value="item.value">{{item.name}}</option>
    </select>
    <div>
        动态select: {{listVal}}
    </div>


</div>

<script>
    var vm = new Vue({
        el : '#all',
        data : {
            selected : 1,
            other : [],
            listVal : 1,
            list : [
                {
                    value : 1,
                    name : 'java'
                },
                {
                    value : 2,
                    name : 'php'
                }
            ]
        }
    });
</script>
</body>
</html>