<ion-view class="personsign_info bank_card">
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title">银行卡</div>
	</div>
	<div class="content has-header" style="font-family:'黑体' ;">
		<div class="list">
			<div class="item item-avatar" ng-click="goback()">
				<img src="" alt="" />
				<h2>工商银行</h2>
				<p>储蓄卡</p>
				<p>**** **** **** 1111</p>
			</div>
		</div>
		<button class="btn01 button" style="background-color:#ffe500;color:#000;" ng-click="nextgo('Add_bank_card')">添加银行卡</button>
	</div>
</ion-view>