<ion-view class="personsign_info withdrawals">
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title">填写银行卡信息</div>
	</div>
	<div class="content has-header" style="font-family:'黑体' ;">
		<p style="margin:16px 16px 0;color:#999">中国工商银行 储值卡 尾号1111</p>
		<div class="list list-inset">
			<label class="item item-input">
				<button>手机号</button>
				<input class="phone" type="text" placeholder="银行卡预留手机号" maxlength="11" />
				<img class="btn_clear" src="img/ic_clear.png" alt="" />
			</label>
		</div>
		<button class="btn01 button" data-url="Bank_card_SMS">下一步</button>
	</div>
</ion-view>