<ion-view class="release_order choose_express_company" ng-clock>
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title">选择快递公司</div>
	</div>
	<ion-view class="content has-header" >
		<ion-pane style="background-color:#eee;">
			<ion-content>
				<div class="list detailed choose_express">
					<button class="item item-avatar" ng-repeat="x in list1" ng-click="goback()">
						<!--img/list_shunfeng.png-->
						<img src="" alt="暂无图片" />
						<p>{{x.name}}</p>
						<!--<img class="posit" src="img/ic_ checkbox _nomal.png" alt="" />-->
					</button>
				</div>
			</ion-content>
			<div class="location_marker">
				<div>A</div>
				<div>B</div>
				<div>C</div>
				<div>D</div>
				<div>E</div>
				<div>F</div>
				<div>G</div>
				<div>H</div>
				<div>I</div>
				<div>J</div>
				<div>K</div>
				<div>L</div>
				<div>M</div>
				<div>N</div>
				<div>O</div>
				<div>P</div>
				<div>Q</div>
				<div>R</div>
				<div>S</div>
				<div>T</div>
				<div>U</div>
				<div>V</div>
				<div>W</div>
				<div>X</div>
				<div>Y</div>
				<div>Z</div>
			</div>
		</ion-pane>
	</ion-view>
</ion-view>
