<!--style="transition:none;"-->
<ion-view cache-view="false" >
		<ion-nav-view name="tab_index">
		</ion-nav-view>
		<!--on-tap="indexfn()"-->
		<div id="nav" class="tabs tabs-icon-top nav"  style="background:#fff;border-top:1px solid #e3e3e3 !important;">	
			<a class="tab-item" href="###" nav-transition="none">
				<img class="icon" src="img/tab_home_normal.png" style="display: none;" alt="" />
				<img class="icon" src="img/tab_home_selected.png" style="display: block;" alt="" />
				周边订单
			</a>
			<a class="tab-item" href="###" nav-transition="none">
				<img class="icon" src="img/tab_communication_normal.png" alt="" />
				<img class="icon" src="img/tab_communication_selected.png" alt="" />
				通讯列表
			</a>
			<a class="tab-item" href="###" nav-transition="none">
				<img class="icon" src="img/tab_my_nomal.png" alt="" />
				<img class="icon" src="img/tab_my_selected.png" alt="" />
				我的消息
			</a>
		</div>
</ion-view>