<ion-view class="personsign_info release_order_good release_order_remarks">
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title">评论</div>
	</div>
	<div class="content has-header">
		<div class="list list-inset">
			<p class="comment_star" style="margin:0 0 16px;color:#181818;font-size: 14px;overflow:hidden;">
				<span>本次服务评价</span> 
				<img src="img/ic_star_nomal.png" alt="" />
				<img src="img/ic_star_nomal.png" alt="" />
				<img src="img/ic_star_nomal.png" alt="" />
				<img src="img/ic_star_nomal.png" alt="" />
				<img src="img/ic_star_nomal.png" alt="" />
			</p>
			<div>
				<textarea name="" id="remarks_word" placeholder="评价描述..." style="min-height:84px;" ></textarea>
			</div>
		</div>
		<div class="goods_btn">
			<button class="btn01 button">完成</button>
		</div>
	</div>
	<div class="tip">
		<span>评价完成</span>	
	</div>
</ion-view>