<!--style="transition:none;"-->
<ion-view class="release_order person_drafts" >
	<div class="bar bar-header">
		<a href="#/tab" style="position:absolute;top:0;left:0;" nav-direction="back">
			<img id="return" src="img/nav_return.png"  />
		</a>
		<!--<img id="return" src="img/nav_return.png" ng-click="nextgo('tab')"></img>-->	
		<div class="title">草稿箱</div>
	</div>
	<ion-view class="content has-header" >
		<ion-pane style="background-color:#eee;">
			<ion-content>
				<div class="list">
					<a class="item" >
						<h2>普通订单</h2>
						<p>(无收件人)  <span class="item-note">2016-09-23</span></p>
					</a>
					<a class="item" >
						<h2>普通订单</h2>
						<p>王尼玛 <span class="item-note">2016-09-23</span></p>
					</a>
					<a class="item" >
						<h2>预约订单</h2>
						<p>王尼玛 <span class="item-note">2016-09-23</span></p>
					</a>
					<a class="item" >
						<h2>预约订单</h2>
						<p>王尼玛 <span class="item-note">2016-09-23</span></p>
					</a>
				</div>
		</ion-pane>
	</ion-view>
</ion-view>

