<ion-view class="personsign_info">
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title"></div>
	</div>
	<div class="content has-header">
		<div class="list list-inset">
			<label class="item item-input">
				<input class="YZ" type="text" maxlength="20" placeholder="" />
				<img class="btn_clear" src="img/ic_clear.png" alt="" />
			</label>
		</div>
		<button class="btn01 button">保存</button>
	</div>
	<div class="tip">
		<span>成功保存</span>	
	</div>
</ion-view>
