<ion-view class="personsign_info">
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title">设置新密码</div>
	</div>
	<div class="content has-header">
		<div class="list list-inset">
			<label class="item item-input">
				<img style="width:15px;top:2px;" src="img/ic_password.png" alt="" />
				<input class="password" type="password" maxlength="20" name="password" placeholder="请填写密码" />
				<img class="btn_clear" src="img/ic_clear.png" alt="" />
			</label>
		</div>
		<button class="btn01 button" data-url="#/tab">完成</button>
	</div>
	<div class="tip">
		<span>修改成功</span>	
	</div>
</ion-view>