<ion-view class="release_order release_order_adddz">
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="modifydz_return()"></img>	
		<div class="title">修改地址</div>
	</div>
	<ion-view class="content has-header" >
		<ion-pane style="background-color:#eee;">
			<ion-content>
				<div class="list detailed">
					
					<label class="item item-avatar row row-center">
						<span class='col col-33'>联系人</span>
						<textarea class="col col-67" name="" rows="1" placeholder="请输入姓名" ng-model="addpersonaddress.name">{{addpersonaddress.name}}</textarea>
					</label>
					<label class="item item-avatar row row-center">
						<span class='col col-33' style="width:30%">联系电话</span>
						<textarea class="col col-67" style="width:70%" name="" rows="1" placeholder="请输入手机号" ng-model="addpersonaddress.mobile">{{addpersonaddress.mobile}}</textarea>
					</label>
					<label class="item item-avatar row row-center">
						<span class='col col-33'>所在区域</span>
						<textarea class="col col-67" style="padding-right:15px;" name="" rows="1" placeholder="请选择省市区" readonly="readonly" ng-click="three_level_linkage('','#/release_order_province',0,'')">{{already_selectstr1}}</textarea>
						<img class="posit" src="img/list_right.png" alt="" />
					</label>
					<label class="item item-avatar row row-center">
						<span class='col col-33'>详细地址</span>
						<textarea class="col col-67" name="" rows="1" placeholder="请输入详细地址" ng-model="addpersonaddress.detail">{{addpersonaddress.detail}}</textarea>
					</label>
					
					<!--<label class="item item-avatar row row-center">
						<span class='col col-33'>联系人</span>
						<textarea class="col col-67" name="" rows="1" placeholder="请输入姓名">王尼玛</textarea>
					</label>
					<label class="item item-avatar row row-center">
						<span class='col col-33' style="width:30%">联系电话</span>
						<textarea class="col col-67" style="width:70%" name="" rows="1" placeholder="请输入手机号">13579246810</textarea>
					</label>
					<label class="item item-avatar row row-center">
						<span class='col col-33'>所在区域</span>
						<textarea class="col col-67" style="padding-right:15px;" name="" rows="1" placeholder="请选择省市区" readonly="readonly">广东省 佛山市 禅城区</textarea>
						<img class="posit" src="img/list_right.png" alt="" />
					</label>
					<label class="item item-avatar row row-center">
						<span class='col col-33'>详细地址</span>
						<textarea class="col col-67" name="" rows="1" placeholder="请输入详细地址">季华六路九鼎国际公寓4座1110阿啪啪信息科技</textarea>
					</label>-->
				</div>
				<div class="list">
					<div id="release" class="list detailed">
						<div class="item item-avatar row row-center">
							<span>设为默认地址</span>
							<img class="posit ic_radio_selected" src="img/ic_radio_selected.png" alt="" />
						</div>
					</div>
				</div>
				<button class="btn01" ng-click="modifydz_save()">保存</button>
			</ion-content>
		</ion-pane>
	</ion-view>
</ion-view>
