<!--style="transition:none;"-->
<ion-view class="release_order release_order_selectpay" >
	<div class="bar bar-header">
		<img id="return" class="posit" src="img/nav_return.png" ng-click="goback()"></img>	
		<div class="title">选择支付方式</div>
	</div>
	<ion-view class="content has-header" >
		<ion-pane style="background-color:#eee;">
			<ion-content>
				<div class="list">
					<div class="item" style="min-height:40px;height:40px;padding:10px 18px;box-sizing: border-box;color:#666;background-color: #ffeeee;">
						<img src="img/ic_attention.png" alt="" style="vertical-align: middle;width:20px;padding-bottom:5px;margin-right:5px;" />
						当前余额不足，需要支付<span style="color:#FF0000">15.55</span>元
					</div>
					<button class="item item-avatar Release_ordergo" data-url="">
						<img src="img/ic_weixin.png" alt="" />
						<p>微信</p>
						<img class="posit" src="img/list_right.png" alt="" />
					</button>
					<button class="item item-avatar Release_ordergo" data-url="">
						<img src="img/ic_zhifubao.png" alt="" />
						<p>支付宝</p>
						<img class="posit" src="img/list_right.png" alt="" />
					</button>
					<button class="item item-avatar Release_ordergo" style="padding-left:16px;" data-url="">
						<p>添加银行卡</p>
						<img class="posit" src="img/list_right.png" alt="" />
					</button>
				</div>
			</ion-content>
		</ion-pane>
	</ion-view>
</ion-view>



<!--<!DOCTYPE html>
<html ng-app="ionicApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>选择支付方式</title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/Release_order.css"/>
		<script src="lib/ionic/js/ionic.bundle.min.js"></script>
		<script src="js/iscroll.js" type="text/javascript"></script>
		<script src="js/jquery-1.12.2.min.js" type="text/javascript"></script>
		<script src="js/controller.js" type="text/javascript"></script>
		<style>
			.Release_order_selectpay .list .item-avatar{
				font-family: "微软雅黑";
				padding:12px 28px 12px 52px;
				height:60px ;
				text-align: left;
			}


			.Release_order_selectpay .item-avatar>img:first-child{
				max-width:25px;
				padding-bottom:5px;
				border-radius:0;
			}
		</style>
 	</head>
	<body id="main">
		<div class="bar bar-header">
			<img id="return" class="posit" src="img/nav_return.png" data-url="-1"></img>	
			<div class="title">选择支付方式</div>
		</div>
		<ion-view class="content has-header" >
			<ion-pane style="background-color:#eee;">
				<ion-content>
					<div class="list">
						<div class="item" style="min-height:40px;height:40px;padding:10px 18px;box-sizing: border-box;color:#666;background-color: #ffeeee;">
							<img src="img/ic_attention.png" alt="" style="vertical-align: middle;width:20px;padding-bottom:5px;margin-right:5px;" />
							当前余额不足，需要支付<span style="color:#FF0000">15.55</span>元
						</div>
						<button class="item item-avatar Release_ordergo" data-url="">
							<img src="img/ic_weixin.png" alt="" />
							<p>微信</p>
							<img class="posit" src="img/list_right.png" alt="" />
						</button>
						<button class="item item-avatar Release_ordergo" data-url="">
							<img src="img/ic_zhifubao.png" alt="" />
							<p>支付宝</p>
							<img class="posit" src="img/list_right.png" alt="" />
						</button>
						<button class="item item-avatar Release_ordergo" style="padding-left:16px;" data-url="">
							<p>添加银行卡</p>
							<img class="posit" src="img/list_right.png" alt="" />
						</button>
					</div>
				</ion-content>
			</ion-pane>
		</ion-view>
		<script src="js/base.js" type="text/javascript"></script>
		<script src="js/Release_order.js" type="text/javascript"></script>
		<script type="text/javascript">
			
		</script>
		<script src="cordova.js"></script>
	</body>
</html>-->
