/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-icon-成为讲师 {
  background-image: url(sprite.png);
  background-position: 0px -41px;
  width: 44px;
  height: 44px;
}
.icon-icon-支付 {
  background-image: url(sprite.png);
  background-position: 0px -139px;
  width: 44px;
  height: 44px;
}
.icon-icon-设置 {
  background-image: url(sprite.png);
  background-position: 0px -90px;
  width: 44px;
  height: 44px;
}
.icon-个人中心-1 {
  background-image: url(sprite.png);
  background-position: 0px -302px;
  width: 52px;
  height: 52px;
}
.icon-个人中心 {
  background-image: url(sprite.png);
  background-position: 0px -188px;
  width: 52px;
  height: 52px;
}
.icon-人数 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.icon-发现课程 {
  background-image: url(sprite.png);
  background-position: 0px -245px;
  width: 52px;
  height: 52px;
}
.icon-发现课程2 {
  background-image: url(sprite.png);
  background-position: 0px -359px;
  width: 52px;
  height: 52px;
}
.icon-我的学习-1 {
  background-image: url(sprite.png);
  background-position: 0px -416px;
  width: 52px;
  height: 52px;
}
.icon-我的学习 {
  background-image: url(sprite.png);
  background-position: 0px -473px;
  width: 52px;
  height: 52px;
}
.icon-播放-live {
  background-image: url(sprite.png);
  background-position: 0px -530px;
  width: 54px;
  height: 54px;
}
.icon-播放 {
  background-image: url(sprite.png);
  background-position: 0px -589px;
  width: 54px;
  height: 54px;
}
