/**
 * @name: [点播皮肤设置-浅紫色]
 * @Date: 2015-11-3
 * @Author:liangh
 */
/*reset*/
/* 滚动条的颜色*/
html {
  border: none;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  /**
     * scroll bar reset
    */
  /* Track */
  /* Handle */
}
html ::-webkit-scrollbar {
  width: 7px;
}
html ::-moz-scrollbar {
  width: 7px;
}
html ::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  color: #28445c;
}
html ::-moz-scrollbar-track {
  background-color: #28445c;
  color: #28445c;
}
html ::-webkit-scrollbar-thumb {
  background-color: #d3b5dd;
}
html ::-moz-scrollbar-thumb {
  background-color: #d3b5dd;
}
/* logo的背景色*/
.headbg {
  background-color: #9171ed;
}
/*摄像头区域预加载图片*/
.camerabg {
  background: url("img/pic_video_lighepurple.png") no-repeat;
}
/* 左右工具栏鼠标经过时的背景色 */
.carousel.left .ln_arrow:hover {
  background-color: #b6a3ed;
  background-position: -283px 38px;
}
.carousel.left .lnx_arrow:hover {
  background-position: -289px 38px;
  background-color: #b6a3ed;
}
.carousel.right .rn_arrow:hover {
  background-position: -291px 38px;
  background-color: #b6a3ed;
}
.carousel.right .rnx_arrow:hover {
  background-color: #b6a3ed;
  background-position: -283px 38px;
}
/* 专辑列表、章节列表鼠标经过和单击后的效果 */
.chapter_list ul li:hover {
  background: #faf6fb;
}
.chapter_list ul li .aclick_bg {
  background: #f5eef8;
}
.chapter_list ul li .chapter .circle {
  color: #9171ed;
}
.chapter_list ul li .chapter .p_state {
  background: url("img/qd3ODGuq.gif") no-repeat;
}
.album_list ul li:hover {
  background: #faf6fb;
}
.album_list ul li .aclick_bg {
  background: #f5eef8;
}
.album_list ul li dd .circle {
  color: #9171ed;
}
.album_list ul li dd i {
  background: url("img/qd3ODGuq.gif") no-repeat;
}
/* 中间区或背景 */
.mask_background {
  background: #f5eef8;
}
/* 中间区域头部标识播放结束和开始的图标 */
.live_info .lv_state {
  background: url("img/gather_icon.png") no-repeat;
}
/* 中间区域底部左边图标 */
.footer_left i {
  background: url("img/gather_icon.png") no-repeat;
}
/* 中间区域底部右边图标 */
.footer_right i {
  background: url("img/gather_icon.png") no-repeat;
}
/* 拖动视频进度小图标 */
.noUi-handle {
  background: url("img/silder_icon.png") no-repeat;
}
.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  bottom: 5px;
}
/* 退出 */
.live_uinfo .quit {
  background: url("img/gather_icon.png") no-repeat;
}
/* 视频进度条的背景色 */
.noUi-background {
  background: #9171ed;
}
/* 拖动音量的小图标 */
#void_range .ui-slider-handle {
  border: 0;
  background: url("img/voice_icon.png") no-repeat;
}
/* 拖动音量进度条的背景色 */
.ui-slider-range {
  background: #9171ed;
}
.ui-widget-header {
  background: #9171ed;
}
/* 提问区域箭头 */
.enter_arrow {
  background: url("img/gather_icon.png") no-repeat;
}
/* 预加载的背景色 */
.la-line-scale-party > div {
  color: #9171ed;
  background: #9171ed;
  border-color: #9171ed;
}
/* 预加载字体颜色 */
.load_state span {
  color: #9171ed;
}
