/*部分Game01和Gift03样式*/

.sel2{
	overflow: hidden;
}
.go>li>div,.sel2>div{
	padding:0 10%;
	color:#000;
	right:6.4444%;
	position:absolute;
	top:0;
	bottom:0;
	margin: auto;
}
.sel2 .btn1>h2{
	margin:0 1.5rem;
	color:#000;
}
.rang,.btn1>img{
	color:#25b5ff;
	position:absolute;
	right:0;
	top:0;
}
.btn1>img{
	width:2.5rem;
	top:-0.4rem;
	background-color:transparent;	
}
.btn1>img:nth-of-type(1){
	left:0;
}