*{
	padding:0;
	margin:0;
}
html,body{
	width:100%;
	height:100%;
	background-color:rgb(239,239,244);
}



.advertisement,.advertisement_main{
	width: 100%;
}

.advertisement_main_menu{
	margin-top: 10px;
	background-color: white;
	position: relative;
	padding: 6%;
	padding-right: 0;
}

.advertisement_address{
	width: 62%;
}

.advertisement_map{
	width: 62%;
	padding-bottom: 2%;
}
.advertisement_map > div{
	float: left;
	height: 20px;
	margin-right: 9px;
}
.advertisement_map img{
	width: 20px;
	height: 20px;
}
.advertisement_address img{
	height: 16px;
	width: 16px;
}
.advertisement_address{
	margin-bottom: 3%;
}
.advertisement_address span{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin-left: 6px;
}

.advertisement_map span{
	font-size: 10px;
	color: rgb(128,128,128);
	font-weight:500;
	display: block;
	line-height: 18px;
}
.follows{
	position: absolute;
	right: 8%;
	top: 50%;
	margin-top: -17px;
	width: 80px;
	line-height: 32px;
}
.followIn {
	color: #888888;
	display: none;
	border: 1px solid  #f0edf0;
	background-color:  #FFFFFF;
	border-radius: 5px 5px 5px 5px;
}

.followIn img{
	margin-top: 4px;
	float: left;
}

.followIn span{
	text-align: right;
	display: block;
	height: 32px;
	margin-right: 12px;
	font-size: 12px;
	font-weight: 600;
	color: #d6d6d6;
}

.followOut {
	color: #FFFFFF;
	display: none;
	border: 1px solid  #09bb07;
	background-color:  #09bb07;
	border-radius: 5px 5px 5px 5px;	
	
}

.followOut img{
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 3px;
	margin-top: 7px;
}

.followOut span{
	text-align: right;
	display: block;
	margin-right: 6px;
	font-size: 12px;
	font-weight: 600;
}



/*二维码样式*/

.distinguish_press{
	position: absolute;
	z-index: 99;
	width: 100%;
	top: 0;
}

.mengceng{
	background-color:#000000; opacity:0.1;filter:alpha(opacity=50);
	width: 100%;
	padding-bottom:177%;
}

.distinguish_press_main{
	position: absolute;
	top: 13%;
	z-index: 100;
	background-color: #FFFFFF;
	width: 81.111%;
	margin: auto 4.444%;
	padding: 5% 5%;
	border-radius: 10px;
}

.distinguish_press_map > div{
	float: left;
	height: 20px;
	margin-right: 9px;
}
.distinguish_press_map img{
	width: 20px;
	height: 20px;
}
.distinguish_press_address img{
	height: 16px;
	width: 16px;
}
.distinguish_press_address{
	margin-bottom: 2%;
}
.distinguish_press_address span{
	font-size: 16px;
	font-weight: bold;
	color: #101010;
	margin-left: 6px;
}

.distinguish_press_map span,.distinguish_press_tips{
	font-size: 10px;
	color:#707070;
	font-weight:500;
	display: block;
	line-height: 18px;
}

.press_erweima{
	margin-top: 10%;
	text-align: center;
	padding-bottom: 5%;
}
.distinguish_press_tips{
	color: #ababab;
}