.header{
	overflow: hidden;
	border-bottom:1px solid #d0d0d0;
	
}
.header .hleft{
	width:21.42857%;
	
}

.header .hright{
	width:76%;
	/*padding-bottom:16.5%;*/
	float: right;
}

.header .hright .jinka{
	background-color:#ffba00;
	border-radius:0.2rem;
	color:#fff;
	margin-left:2%;
	padding:0.11rem 0.3rem;
	display: inline-block;
	vertical-align: bottom;
}

.header .hright>ol>li{
	background: url(../img01/ul01.png) 0 0 no-repeat;
	background-size:20%;
	padding-left:17%;
}

/*.header .hright>ol:nth-of-type(n){
	position:absolute;
	bottom:0;
}*/
.header .hright>ol>li>b{
	font-size:1.1rem;
	color:#000;
}
.header .blidc{
	position:absolute;
	top:-2.5rem;
	right:-2.5rem;
	padding-top:4rem;
	width:5rem;
	height:5rem;
	background-color:#f43530;
	text-align: center;
	color:#FFF;
	box-sizing: border-box;
	transform: rotateZ(45deg);
}
.fz{
	font-size:1rem;
}