/*整体样式*/
body{
	margin: 0;
}

/*main样式*/
.member{
	width: 100%; 
	margin: 0 auto;
}
.member_bg{
	position: absolute;
	width: 100%;
}
.member_main{
	padding-bottom: 40%;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 100;
	position: relative;
}

.member > img:first-child{
	width: 100%;
	background-repeat: no-repeat;
}

.member_content{
	position: absolute;
	margin-top: 14%;
	left: 50%;
	margin-left: -129px;
}

.member_content img, .introduce{
	float: left;
}

.member_content p{
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 0;
	color: white;
	font-size: 18px;
	
}

.member_name{
	margin-left: 2px;
	font-size: 30px;
	font-weight: bold;
}

.change{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.code{
	margin-top: 70%;
}

.press{
	color: rgb(198,198,198);
	font-size: 14px;
}

.join{
	color: rgb(128,128,128);
	font-weight: bold;
	font-size: 16px;
}
